<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "utf-8"/>
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge"/>
    <meta name = "viewport" content = "width=device-width, initial-scale=1"/>

    <link href = "https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel = "stylesheet"/>

    <!-- Bootstrap -->
    <link type = "text/css" rel = "stylesheet" href = "../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link type="text/css" rel = "stylesheet" href = "../css/slick.css"/>
    <link type="text/css" rel = "stylesheet" href = "../css/slick-theme.css"/>
    <link type = "text/css" rel = "stylesheet" href = "../css/nouislider.min.css"/>
    <link rel = "stylesheet" href = "../static/css/font-awesome.min.css"/>
    <script src = "https://kit.fontawesome.com/639c797cd5.js" crossorigin = "anonymous"></script>

    <script href="../js/musicplayer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.6.4/jquery.jplayer/jquery.jplayer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.6.4/add-on/jplayer.playlist.min.js"></script>
    <link type="text/css" rel = "stylesheet" href = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css"/>
    <link type="text/css" rel = "stylesheet" href = "https://fonts.googleapis.com/css?family=Open+Sans:400,300,700"/>

    <!-- Custom stlylesheet -->
    <link type = "text/css" rel = "stylesheet" href = "../css/style.css"/>
    <link type = "text/css" rel = "stylesheet" href = "../css/musicplayer.css"/>
</head>

<header>
    <div class="w3-bar w3-black">
        <a class="navbar-brand"  href="#" >
            <img class="img-navbar" style="max-width:40px; margin-top: -7px;"
                 src="../images/icon.png">
        </a>
        <a href="/index" class="w3-bar-item w3-button">Home</a>
        <a href="/mountpage" class="w3-bar-item w3-button">Mount</a>
        <a href="/droppage" class="w3-bar-item w3-button">Drop</a>
        <a href="/shoutpage" class="w3-bar-item w3-button">Shout</a>
        <a href="/udppage" class="w3-bar-item w3-button">UDP Broadcast</a>
    </div>

    <div class="section-title text-center">
        <h3 class="title">Mount</h3>
    </div>
</header>

</head>

<body>
<meta charset="UTF-8">
    <form action="/mount" method="post">

            <div class="form-group">
                <span>Mountpoint:</span>
                <input id="textToSave" class="input" type="text" name="mountPoint" placeholder="/">
                <br>
                <span>Source:</span>
                <input id="textToSave1" class="input" type="text" name="source" placeholder="http://">
                <br>
                <select id = "selectMount" name="selectMount">
                    <option class = "optionMount" value="LiveStream">LiveStream</option>
                    <option class = "optionMount" value="PlayList">PlayList</option>
                </select>
                <br>
                <span>Limit:</span>
                <input id="textToSave2" class="input" type="text" name="limit" placeholder="">
                <br>
                <span>Password:</span>
                <input id="textToSave3" class="input" type="text" name="password" placeholder="">
            </div>
            <div class="form-group">
                <input class="input" type="submit" name="action" value="Mount" class="primary-btn cta-btn">
            </div>
            <div>
                <button onclick="saveTextAsFile()">Save</button>
            </div>
    </form>
</body>
<script>
    function saveTextAsFile()
    {
        var textToSave = document.getElementById("textToSave").value;
        firstText = String("MountPoint: "+ textToSave);
        var textToSave1 = document.getElementById("textToSave1").value;
        secondText = String("Source: "+ textToSave1);
        var textToSave2 = document.getElementById("textToSave2").value;
        thirdText = String("Limit: "+ textToSave2);
        var textToSave3 = document.getElementById("textToSave3").value;
        lastText = String("Password: "+ textToSave3);
        var selected = document.getElementById("selectMount").value;
        var textToSaveAsBlob = new Blob([firstText,"; ", secondText,"; ", selected,"; ", thirdText,"; ", lastText,";"], {type:"text/plain"});
        var textToSaveAsURL = window.URL.createObjectURL(textToSaveAsBlob);
        var fileNameToSaveAs = "mount.txt";
        var downloadLink = document.createElement("a");
        downloadLink.download = fileNameToSaveAs;
        downloadLink.innerHTML = "Download File";
        downloadLink.href = textToSaveAsURL;
        downloadLink.onclick = destroyClickedElement;
        downloadLink.style.display = "none";
        document.body.appendChild(downloadLink);

        downloadLink.click();
    }

    function destroyClickedElement(event)
    {
        document.body.removeChild(event.target);
    }

</script>
</html>