<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "utf-8"/>
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge"/>
    <meta name = "viewport" content = "width=device-width, initial-scale=1"/>

    <link href = "https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel = "stylesheet"/>

    <!-- Bootstrap -->
    <link type = "text/css" rel = "stylesheet" href = "../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel = "stylesheet" href = "../static/css/font-awesome.min.css"/>
    <script src = "https://kit.fontawesome.com/639c797cd5.js" crossorigin = "anonymous"></script>

    <script href="../js/musicplayer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.6.4/jquery.jplayer/jquery.jplayer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.6.4/add-on/jplayer.playlist.min.js"></script>
    <link type="text/css" rel = "stylesheet" href = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css"/>
    <link type="text/css" rel = "stylesheet" href = "https://fonts.googleapis.com/css?family=Open+Sans:400,300,700"/>
    <!-- Custom stlylesheet -->
    <link rel = "stylesheet" href = "../css/style.css"/>
    <link type = "text/css" rel = "stylesheet" href = "../css/musicplayer.css"/>
</head>

<body>

<header>
    <div class="w3-bar w3-black">
        <a class="navbar-brand"  href="#" >
            <img class="img-navbar" style="max-width:40px; margin-top: -7px;"
                 src="../images/icon.png">
        </a>
        <a href="/index" class="w3-bar-item w3-button">Home</a>
        <a href="/mountpage" class="w3-bar-item w3-button">Mount</a>
        <a href="/droppage" class="w3-bar-item w3-button">Drop</a>
        <a href="/shoutpage" class="w3-bar-item w3-button">Shout</a>
        <a href="/udppage" class="w3-bar-item w3-button">UDP Broadcast</a>
    </div>

    <div class="section-title text-center">
        <h3 class="title" style="font-family: Impact">Shout</h3>
    </div>
</header>

<form action="/shout" method="post" style="margin-left: 40%; margin-top: 10%;"
    <div class="form-group">
        <select id ="selectShout" name="selectShout"  style ="margin-right: 5%; border: 1px solid rgb(146, 148, 248); border-radius: 10%;">
            <option class = "optionMount" value="/testing.ogg">/testing.ogg</option>
        </select>
        <span>-->:</span>
        <input class="input" type="text" name="ice" placeholder="ice://" style ="border: 1px solid rgb(146, 148, 248); border-radius: 10%;">
        <br>
        <br>
        <span>Ice-Password:</span>
        <input class="password" type="text" name="icepass" placeholder="" style ="border: 1px solid rgb(146, 148, 248); border-radius: 10%;">
        <br>
        <hr style="border: 0;">
        <span>Password:</span>
        <input class="input" type="password" name="password" placeholder="" style ="border: 1px solid rgb(146, 148, 248); border-radius: 10%;">
    </div>
    <div class="form-group" style="margin-left: 15%; margin-top: 5%;">
        <input type="submit" name="action" value="Shout" class="btn">
    </div>
</form>
</body>
</html>